<html>
    <head>
        <title>Assignment 2</title>
        <link rel="stylesheet" type="text/css" href="/assets/home.css">
        <script src="/js/home.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="top">
            <h1>BITE ME!</h1>
        </div>
        <div class="menu" id="menu">
            <a href="/home" class="active">Home</a>
            <a href="/salty">Salty</a>
            <a href="/sweet">Sweet</a>
            <a href="/contactUs">Contact Us</a>
            <a href="javascript:void(0);" class="icon" onclick="navigation()">
            <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="text">
            <p>
                This website is dedicated to allow you to review the top unhealthy foods in order to see which one is best. This is divided into two categories: <a href="/salty">Salty</a> and <a href="/sweet">Sweet</a>.
            </p>
            <ul>
                <li>
                    <a href="/salty"> Salty </a>
                    <ul>
                        <li>Burgers</li>
                        <li>Hot dogs</li>
                        <li>Pizza</li>
                        <li>Fried Chicken</li>
                    </ul>
                </li>
                <li>
                    <a href="/sweet"> Sweet </a>
                    <ul>
                        <li>Ice cream</li>
                        <li>Cookies</li>
                        <li>Brownies</li>
                        <li>Cake</li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>